
<!-- HEADER-->
<header class="slds-elevation-shadow_down slds-size_1-of-1" role="banner">
  <!-- HEADER ITEMS GRID-->
  <div class="slds-grid">
    <!-- MENU BUTTON--><a class="stage-left slds-theme_alt-inverse slds-grid slds-p-vertical_x-small slds-p-horizontal_medium" [ngClass]="{'open': menu_opened}" (click)="toggle_menu()"><span class="slds-icon_container slds-align-middle slds-p-left_xx-small"><img class="slds-icon slds-icon_small" id="gscdpform-quicknav-main" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/8005/rows.svg" alt="Toggle Menu"/></span></a>
    <!-- MENU BUTTON END-->
    <!-- MASTHEAD GRID-->
    <div class="slds-grid slds-grow slds-grid_align-center">
      <!-- MASTHEAD LEFT-->
      <div class="sdls-col slds-size_2-of-3 slds-p-horizontal_medium">
        <div class="slds-media">
          <div class="slds-media_body">
            <p class="slds-text-heading_small slds-p-top_small slds-align-middle">OpenShift Angular Demo Application</p>
          </div>
        </div>
      </div>
      <!-- MASTHEAD CENTER END-->
      <!-- MASTHEAD RIGHT-->
      <div class="slds-container_right slds-align-middle slds-p-right_medium"></div>
      <!-- MASTHEAD RIGHT END-->
    </div>
    <!-- MASTHEAD GRID END-->
  </div>
  <!-- HEADER ITEMS GRID END-->
</header>
<!-- HEADER END-->