:host {
    z-index: 5;
}

/* Menu Toggle and Stage Left */
.stage-left.slds-theme_alt-inverse {
    width: 4rem;
    -webkit-transition: width .2s ease-in-out .05s;
    transition: width .2s ease-in-out .05s;
    background-color: rgb(7, 71, 166);
}

@media (min-width: 1024px) {
    .stage-left.open {
        width: 15rem;
        -webkit-transition: width .1s ease-in-out;
        transition: width .1s ease-in-out;
    }
    .stage-left.open .stage-left__text {
        opacity: 1;
        width: auto;
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }
}

.stage-left li + li {
    margin-top: 0.5rem;
}

.stage-left a:not(.button) {
    display: block;
    text-decoration: none !important;
    white-space: nowrap;
    border-radius: 0.25rem;
    background: transparent;
    padding: 0.25rem;
    -webkit-transition: background .05s linear;
    transition: background .05s linear;
}

.stage-left a:not(.button):hover,
.stage-left a:not(.button):focus {
    background: #061c3f;
}

.stage-left a:not(.button):active {
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.16), 0 0 3px #0070D2;
}

.stage-left .stage-left__text {
    opacity: 0;
    width: 0;
    -webkit-transition: all .05s linear;
    transition: all .05s linear;
}

.stage-left .slds-icon {
    max-width: initial;
}

@media print
{    
    .slds-no-print, .slds-no-print *
    {
        display: none !important;
    }
}