
<div class="stage-left slds-theme_alt-inverse slds-shrink-none slds-p-around_small" [ngClass]="{'open': menu_opened}">
  <ul class="slds-has-block-links" role="navigation">
    <!-- <li><a class="right" [routerLink]="['/voipLinkDpform']" data-tooltip="Voip Link DP Forms" data-position="right"><span class="slds-icon_container slds-m-right_small">
          <svg class="slds-icon" id="voip-dp-form-quicknav" aria-hidden="true">
            <use xlink:href="../assets/icons/custom-sprite/svg/symbols.svg#custom62"></use>
          </svg><span class="slds-assistive-text">Voip Link DP Forms</span></span><span class="stage-left_text slds-max-medium-hide" id="gsc-dp-form">Voip Link DP Forms</span></a></li> -->
    <li><a class="right" [routerLink]="['/demoCourseform']" data-tooltip="Courses" data-position="right"><span class="slds-icon_container slds-m-right_small">
          <svg class="slds-icon" id="customers-quicknav" aria-hidden="true">
            <use xlink:href="../assets/icons/standard-sprite/svg/symbols.svg#account"></use>
          </svg><span class="slds-assistive-text">Customers</span></span><span class="stage-left_text slds-max-medium-hide" id="courses">Courses</span></a></li>
    <!-- <li><a class="right" [routerLink]="['/voipContactform']" data-tooltip="Contacts" data-position="right"><span class="slds-icon_container slds-m-right_small">
          <svg class="slds-icon" id="contacts-quicknav" aria-hidden="true">
            <use xlink:href="../assets/icons/standard-sprite/svg/symbols.svg#person_account"></use>
          </svg><span class="slds-assistive-text">Contacts</span></span><span class="stage-left_text slds-max-medium-hide" id="contacts">Contacts</span></a></li>
    <li><a class="right" [routerLink]="['/voipTatacontactform']" data-tooltip="Tata Contacts" data-position="right"><span class="slds-icon_container slds-m-right_small">
          <svg class="slds-icon" id="tata-contacts-quicknav" aria-hidden="true">
            <use xlink:href="../assets/icons/standard-sprite/svg/symbols.svg#household"></use>
          </svg><span class="slds-assistive-text">Tata Contacts</span></span><span class="stage-left_text slds-max-medium-hide" id="tata-contacts">Tata Contacts</span></a></li> -->
  </ul>
</div>